<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sandbox</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>

    <h1> Sandbox </h1>
    <!-- This is a navbar -->
     <nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
    </nav>
    <!-- End of navbar -->
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Current projects</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">idea 1</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">idea 2</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">idea 3</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">Check out</li>
        <li class="list-group-item">This list</li>
        <li class="list-group-item">It's so</li>
        <li class="list-group-item">long</li>
        <li class="list-group-item">meh</li>
      </ul>
    </div>
      <div class="col-sm-3">
        <ul class="list-group">
          <li class="list-group-item"><button type="button"
        id="testBtn"
        class="btn btn-success glyphicon glyphicon-thumbs-up"
        data-loading-text=" ... ">
          </button></li>
          <li class="list-group-item"><button type="button"
        id="testBtn"
        class="btn btn-success glyphicon glyphicon-thumbs-up"
        data-loading-text=" ... ">
          </button></li>
          <li class="list-group-item"><button type="button"
        id="testBtn"
        class="btn btn-success glyphicon glyphicon-thumbs-up"
        data-loading-text=" ... ">
          </button></li>
          <li class="list-group-item"><button type="button"
        id="testBtn"
        class="btn btn-success glyphicon glyphicon-thumbs-up"
        data-loading-text=" ... ">
          </button></li>
          <li class="list-group-item"><button type="button"
        id="testBtn"
        class="btn btn-success glyphicon glyphicon-thumbs-up"
        data-loading-text=" ... ">
          </button></li>
        </ul>
      </div>
    </div>


    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>



    <h1>Contributors:</h1>
    <div class="container" style="margin-bottom: 100px">
    <div class="row">

      <div class="col-md-3 col-sm-6">

        <div class="card" style="width: 18rem;">
          <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="aaron.jpg" style="width: 18rem;" alt="Card image cap">
        </div>
          <div class="card-body">
            <h5 class="card-title">Aaron Mednick</h5>
            <p class="card-text">Professional web developer in the making. Currently a student attending at Le Wagon in Montreal, Canada. Likes to code for funsies.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>

          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
          </div>
    </div><!--/row-->
</div><!--container-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/application.js"></script>
  </body>
</html>
